{{ define "main" }}
<div class="single-wrapper">
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <section>
    <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
    <h5 id="wordcount"> {{ .WordCount }} Words </h5>
  </section>
  {{ with .Params.topics }}
  <ul id="topics">
    {{ range . }}
      <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
  </ul>
  {{ end }}
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
{{ with .Params.tags }}
{{ range . }}
<span class="tags">
<a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
</span>
{{ end }}
{{ end }}
</aside>
</div>
{{ end }}