
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
  {{ define "breadcrumbnav" }}
  {{ $scratch := newScratch }}
  {{ $scratch.Set "posisi" 1 }}
  {{ if .p1.Parent }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ $scratch.Add "posisi" 1 }}
  {{ else if not .p1.IsHome }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  <li itemprop="itemListElement" itemscope
  itemtype="https://schema.org/ListItem">
  {{ if eq .p1 .p2 }}
  {{ $scratch.Add "posisi" 1 }}
    <span itemprop="name">{{ .p1.Title }}</span>
        <meta itemprop="position" content="{{ $scratch.Get "posisi" }}" />
{{ else if eq (1) ($scratch.Get "posisi") }}
<a itemprop="item" href="{{ .p1.Permalink }}"><span itemprop="name">Beranda</span> 
  <meta itemprop="position" content="{{ $scratch.Get "posisi" }}" />    
</a>
  {{ else if ne .p1 .p2 }}
  <a itemprop="item" href="{{ .p1.Permalink }}" href="{{ .p1.Permalink }}"><span itemprop="name">{{ .p1.Title }}</span> 
    <meta itemprop="position" content="{{ $scratch.Get "posisi" }}" />    
</a>
{{ end }}
  </li>
  {{ end }}

