{{ $page := . }}
<div class="card">
    {{- with $page.Params.cover -}}
            {{- $images := . -}}
            {{- with $page.Site.GetPage "section" "upload" -}}
                {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}
                    {{- $image1 := .Fill "245x245 q100" -}}
                    {{- $image2 := .Fill "200x120 q90" -}}
                    <div class="cover-image">
                        <a href="{{ $page.RelPermalink }}" title="{{ $page.Title }}">
                            <img loading="lazy" srcset="
                            {{ $image2.RelPermalink }} 800w,
                            {{ $image1.RelPermalink }} 1366w,  
                            " src="{{ $image1.RelPermalink }}" alt="{{ $page.Title }}"/>
                        </a>
                    </div>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    <div class="card-wrapper">
            <a href="{{ $page.RelPermalink }}" class="link" title="{{.Title}}"></a>
        <h2><a class="linkin" href="{{.RelPermalink}}" title="{{.Title}}">{{.Title}}</a></h2>
    </div>
</div>
