.langganan{
    margin: 55px 35px 0 ;
    border-top:1px solid $shade;
    .more{
        display: flex;
        align-items: center;
        color:$primary;
        border-color: $primary;
        svg{
            margin-right: 10px;
        }
    }
    h3{
        display: flex;
        align-items: center;
        svg{
            margin-right: 10px;
            fill:$primary;
        }
    }
}