.newsletter{
    background:$white;
    border-radius: 10px;
    position: relative;
}
.content{
    padding:20px;
    h2{
        margin:0;
    }
    p{
        margin-top: 10px;
        font-size:15px;
    }
}
.submission{
    
}