.terkait-widget{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    column-gap: 50px;
    column-width: 200px;
    margin: 0 auto;
    width: auto;
    @media screen and (max-width:600px){
        column-gap: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}
.terkait{
    border-top:1px solid $shade;
    margin-top:0;
    padding-top:28px
}