@import 'var';
@import 'typography';
@import 'nav';
@import 'footer';
@import 'paginator';
@import 'list';
@import 'avatar';
@import'tags';
@import 'form';
@import 'single';
@import 'header';
@import 'index';
@import 'langganan';
@import 'dark-mode';
@import 'toggle-dark-mode';
@import 'authorpage';
@import 'unggulan';
@import 'latest';
@import 'terkait';
@import 'sharebutton';
@import 'sidebar';
@import 'newsletter';
@import 'breadcrumb';

body{
    color:$black;
    margin:0;
    font-family: 'Noto Sans', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}
a{
    color:$accent;
    text-decoration: none;
    :hover{
        text-decoration: underline;
    }
}
.wrapper{
    margin:0 auto;
    width: 100%;
    max-width: 680px;
}
.space{
    margin:35px 0 0;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
#main,#meta{
    @media screen and(max-width:1025px){
        margin:25px;
    }
}
